.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage-category {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 18.75rem;
}

.homepage-category-title {
  color: var(--gray-900, #1D2026);
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.4px;
}

.homepage-category-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.homepage-category-item {
  display: flex;
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-100, #EBEBFF);
  transition: box-shadow .5s;
}

.homepage-category-item:hover {
  box-shadow: 1px 1px 10px 5px #888888;
}

.homepage-category-item-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.homepage-category-item-label-title {
  width: 11.75rem;
  color: var(--gray-900, #1D2026);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
}

.homepage-category-item-label-content {
  width: 11.75rem;
  color: var(--gray-600, #6E7485);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.14px;
}

.homepage-category-browse {
  display: flex;
  align-items: center;
  gap: 12px;
}

.homepage-category-browse-text {
  color: var(--gray-700, #4E5566);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.14px;
}

.homepage-category-browse-button {
  background-color: var(--gray-white, #FFF);
  border: 0;
  color: var(--primary-500, #FF6636);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.14px;
  transition: background-color .5s;
}

.homepage-category-browse-button:hover {
  background-color: #f7f0f0;
}

.homepage-course {
  background-color: var(--gray-50, #F5F7FA);
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 18.75rem;
}

.homepage-course-title {
  color: var(--gray-900, #1D2026);
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.4px;
}

.homepage-course-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.563rem;
  justify-content: center;
}

.homepage-course-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 10px;
  gap: 0.875rem;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-white, #FFF);
  border: 1px solid var(--gray-100, #E9EAF0);
  transition: all .3s ease-in-out;
}

.homepage-course-item:hover {
  transform: translateY(-10px);
}

.homepage-course-item-image {
  width: 312px;
  height: min-content;
}

.homepage-course-item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.homepage-course-item-body-top {
  display: flex;
  width: 312px;
  padding: 0px 18px;
  justify-content: space-between;
  align-items: center;
}

.homepage-course-item-body-top-left {
  background-color: var(--primary-100, #FFEEE8);
  color: var(--primary-700, #993D20);
  padding: 4px 6px;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}

.homepage-course-item-body-top-right {
  color: var(--primary-500, #FF6636);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.homepage-course-item-body-bottom {
  width: 276px;
  color: var(--gray-900, #1D2026);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.homepage-course-item-footer {
  display: flex;
  width: 312px;
  padding: 0px 18px;
  justify-content: space-between;
  align-items: center;
}

.homepage-course-item-footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.homepage-course-item-footer-left-text {
  color: var(--gray-700, #4E5566);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.homepage-course-item-footer-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.homepage-course-item-footer-right-text {
  color: var(--gray-700, #4E5566);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.homepage-course-browse {
  display: flex;
  align-items: center;
  gap: 12px;
}

.homepage-course-browse-button {
  background-color: var(--primary-100, #FFEEE8);
  padding: 0px 24px;
  border: 0;
  color: var(--primary-500, #FF6636);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  letter-spacing: -0.128px;
  transition: background-color .2s;
}

.homepage-course-browse-button:hover {
  background-color: #d1bfbf;
}

.homepage-instructor {
  background-color: var(--gray-white, #FFF);
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.homepage-instructor-title {
  color: var(--gray-900, #1D2026);
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.4px;
}

.homepage-instructor-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.563rem;
}

.homepage-instructor-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 10px;
  gap: 0.875rem;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-white, #FFF);
  border: 1px solid var(--gray-100, #E9EAF0);
  transition: all .3s ease-in-out;
}

.homepage-instructor-item:hover {
  transform: translateY(-10px);
}

.homepage-instructor-item-image {
  width: 244px;
  height: min-content;
}

.homepage-instructor-item-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.homepage-instructor-item-body-top {
  width: 212px;
  color: var(--gray-900, #1D2026);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.homepage-instructor-item-body-bottom {
  width: 212px;
  color: var(--gray-500, #8C94A3);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.homepage-instructor-item-footer {
  display: flex;
  width: 244px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
}

.homepage-instructor-item-footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.homepage-instructor-item-footer-left-text {
  color: var(--gray-700, #4E5566);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.homepage-instructor-item-footer-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.homepage-instructor-item-footer-right-text {
  color: var(--gray-700, #4E5566);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.registerpage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
}

.registerpage-title {
  width: 648px;
  color: var(--gray-900, #1D2026);
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}

.registerpage-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.registerpage-body-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.registerpage-body-top-field { 
  display: flex;
  width: 500px;
  height: 76px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.registerpage-body-top-field-label {
  color: var(--gray-900, #1D2026);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 120% */
  letter-spacing: -0.14px;
}

.registerpage-body-top-field-input {
  background-color: var(--gray-white, #FFF);
  border: 1px solid var(--gray-100, #E9EAF0);
  border-radius: 0.5vh;
  padding: 5px 13px;
  width: 500px;
  outline: none;
  color: var(--gray-500, #8C94A3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

.registerpage-body-top-field-input:focus {
  border: 1px solid var(--gray-500, #8C94A3);
}

.registerpage-body-bottom {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.registerpage-body-bottom-left {
  color: var(--gray-600, #6E7485);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 120% */
  letter-spacing: -0.14px;
}

.registerpage-body-bottom-right {
  padding: 0px 24px;
  border-radius: 0.5vh;
  border: 0;
  background-color: var(--primary-500, #FF6636);
  color: var(--gray-white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 6400;
  line-height: 48px; /* 120% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
}

.registerpage-body-bottom-right:hover{
  background-color: var(--primary-700, #993D20);
}

.registerpage-error {
  color: var(--alert, #e41010);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 120% */
  letter-spacing: -0.14px;
}

.studentdb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.studentdb-head {
  display: flex;
  width: 1320px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--primary-200, #FFDDD1);
}

.studentdb-head-top {
  display: flex;
  width: 1320px;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.studentdb-head-top-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.studentdb-head-top-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}

.studentdb-head-top-left-content-top {
  width: 586px;
  color: var(--gray-900, #1D2026);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
}

.studentdb-head-top-left-content-bottom {
  width: 586px;
  color: var(--gray-600, #6E7485);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.studentdb-head-bottom {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: auto;
}

.studentdb-head-bottom-item {
  padding: 1vh;
  color: var(--gray-700, #4E5566);
  background-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  border: 0;
  border-bottom: 0.3vh solid #FFF;
}

.studentdb-head-bottom-item:hover {
  border-bottom: 0.3vh solid #FF6636;
  color: var(--gray-900, #1D2026);
}

.studentdb-head-bottom-item.active {
  border-bottom: 0.3vh solid #FF6636;
  color: var(--gray-900, #1D2026);
}

.studentdb-body {
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.studentdb-body-top {
  color: var(--gray-900, #1D2026);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
}

.studentdb-body-bottom {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.studentdb-body-bottom-item {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 24px;
  background-color: #FFEEE8;
}

.studentdb-body-bottom-item-left {
  display: flex;
  padding: 14px;
  align-items: flex-start;
  gap: 10px;
  background-color: #FFF;
}

.studentdb-body-bottom-item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.studentdb-body-bottom-item-right-title {
  width: 180px;
  color: var(--gray-900, #1D2026);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.studentdb-body-bottom-item-right-desc {
  width: 180px;
  color: var(--gray-700, #4E5566);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.14px;
}

.studentdb-body2-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 3vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button{
  border: 0;
  padding: 0.5rem 1.2rem;
  color: #FF6636;
  background-color: #FFEEE8;
}

.button-2{
  border: 0;
  padding: 0.5rem 1.2rem;
  color: #FFF;
  background-color: #FF6636;
}

.nav-link:hover {
  color: #FF6636;
}

.nav-link.active-link {
  border-bottom: 5px solid #FF6636;
}

.bold-text {
  font-weight: bold;
}
.semi-text {
  font-weight: 500;
  color: #6E7485;
}


/* Contact Section - Home Page
------------------------------*/
.contact .info-item {
  background: rgba(33, 37, 41, 0.03);
  padding: 30px;
}

.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: #FF6636;
}

.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .email-form {
  background: rgba(33, 37, 41, 0.03);
  padding: 30px;
  height: 100%;
}

.contact .email-form .error-message {
  display: none;
  background: #FF6636;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #FF6636;
  border-top-color:#ffffff;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input[type=text],
.contact .email-form input[type=email],
.contact .email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color:black;
  background-color: rgba( 255, 255, 255, 0.5);
  border-color: rgba(33, 37, 41, 0.2);
}

.contact .email-form input[type=text]:focus,
.contact .email-form input[type=email]:focus,
.contact .email-form textarea:focus {
  border-color: #FF6636;
}

.contact .email-form input[type=text]::-moz-placeholder,
.contact .email-form input[type=email]::-moz-placeholder,
.contact .email-form textarea::-moz-placeholder {
  color: rgba(33, 37, 41, 0.3);
}

.contact .email-form input[type=text]::placeholder,
.contact .email-form input[type=email]::placeholder,
.contact .email-form textarea::placeholder {
  color: rgba(33, 37, 41, 0.3);
}

.contact .email-form button[type=submit] {
  background: #FF6636;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  background: rgba(232, 69, 69, 0.8);
}

.contact .section-title {
  padding: 40px 0;
}

.contact .section-title h2 {
  margin-bottom: 20px;
}




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.years{
  color: #E9EAF0;
  font-size: 4.6rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color:#ffffff;
  background-color: #1D2026;
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none; /* Menghapus border */
  font-size: 16px;
  color: #ffffff;
  background: rgba(54, 59, 71, 0.4); /* Menambahkan background warna #363B47 40% */
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: #FF6636; /* Mengubah latar belakang saat dihover menjadi #FF6636 */
}

.footer h4 {
  color: #FFEEE8;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: #6E7485;
  display: inline-block;
  line-height: 1;
}


/* .footer .footer-links ul a:hover {
  color: var(--primary-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

